<h1><%= @question_set.name %></h1>
<% @question_set.questions.each do |question| %>
  <div class="row question">
    <div class="row question-case-str">
      <h4><%= question.case_string %></h4>
    </div>
    <% question.wrong_answers.each do |wrong_answer| %>
      <div class="row wrong-answer">
        <div class="col-md-10 offset-md-2">
          <div class="row wrong-answer-text">
            <%= wrong_answer.text + ": " %>
            <% wrong_answer.tags.each do |tag| %>
              <%= link_to (tag.name + " "), tag2wronganswer_path(Tag2wronganswer.get_id(wrong_answer, tag)), :id => tag.name+wrong_answer.text %>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
<% end %>
