<h1>
  <%= @concept.name %>
</h1>
<h2>
  <%= @concept.description %>
</h2>
<!--display tags when implemented-->
<ul>
  <% @messages.each do |message| %>
    <li>
      <%= message.content %>
    </li>
  <% end %>
</ul>