<h3>Upload a File</h3>
  <%= form_tag upload_path, multipart: true do %>
    <div class="form-group">
      <label for="sel1">Select list:</label>
      <select class="form-control" id="sel1" name="file_type">
        <option>Concepts (csv)</option>
        <option>Tags (csv)</option>
        <option>Tag2Concept (csv)</option>
        <option>Questions (json)</option>
      </select>
    </div>
    <%= file_field_tag :file %>
    <%= submit_tag "Upload" %>
  <% end %>
